data/raw/proper_elements_numbered_and_multiopposition_RAW.txt filter=lfs diff=lfs merge=lfs -text
data/proper_elements_numbered_and_multiopposition.csv filter=lfs diff=lfs merge=lfs -text
data/proper_elements_numbered_and_multiopposition.csv !text !filter !merge !diff
